<div class="row col-sm-offset-3 col-sm-6">
    <div class="page-header">
        <h1 ng-if="!userProfileViewModel.isOfLoggedInUser">
            User's profile
        </h1>
        <h1 ng-if="userProfileViewModel.isOfLoggedInUser">
            Your profile
        </h1>
    </div>

    <div class="media">
        <div class="media-left media-top">
            <img src="/assets/img/user.png" class="media-object"/>
        </div>

        <div class="media-body">
            <h2 class="media-heading">User: {{userProfileViewModel.userDetails.username}}</h2>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Id
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.id}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Username
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.username}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Name
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.firstName}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Surname
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.lastName}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Type
                </div>

                <div class="panel-body">
                    <span ng-if="userProfileViewModel.userDetails.type == 'ROLE_ADMIN'"
                        class="label label-danger">
                        Administrator
                    </span>
                    <span ng-if="userProfileViewModel.userDetails.type == 'ROLE_SUBSCRIBER'"
                        class="label label-primary">
                        Subscriber
                    </span>
                </div>
            </div>

            <div ng-if="userProfileViewModel.userDetails.type == 'ROLE_SUBSCRIBER'"
                class="panel panel-info">
                <div class="panel-heading">
                    Subscribed for category
                </div>

                <div class="panel-body">
                    <span ng-if="!userProfileViewModel.userDetails.category">
                        For all categories
                    </span>
                    <span ng-if="userProfileViewModel.userDetails.category">
                        {{userProfileViewModel.userDetails.category.id}}) {{userProfileViewModel.userDetails.category.name}}
                    </span>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    Available actions
                </div>

                <div class="panel-body">
                    <div ng-if="userProfileViewModel.isOfLoggedInUser == true || userProfileViewModel.loggedInUserDetails.type == 'ROLE_ADMIN'"
                        class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                ng-click="userProfileViewModel.updateProfile()">
                                Update profile
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning"
                                ng-click="userProfileViewModel.changePassword()">
                                Change password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
