<div class="row col-sm-offset-3 col-sm-6">
    <div class="page-header">
        <h1 ng-if="!userProfileViewModel.isOfLoggedInUser">
            User's profile
        </h1>
        <h1 ng-if="userProfileViewModel.isOfLoggedInUser">
            Your profile
        </h1>
    </div>

    <div class="media">
        <div class="media-left media-top">
            <img src="/assets/img/user.png" class="media-object"/>
        </div>

        <div class="media-body">
            <h2 class="media-heading">User: {{userProfileViewModel.userDetails.username}}</h2>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Id
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.id}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Username
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.username}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    First name
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.firstName}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Last name
                </div>

                <div class="panel-body">
                    {{userProfileViewModel.userDetails.lastName}}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Type
                </div>

                <div class="panel-body">
                    <span ng-if="userProfileViewModel.userDetails.type == 'ROLE_ADMIN'"
                        class="label label-danger">
                        Administrator
                    </span>
                    <span ng-if="userProfileViewModel.userDetails.type == 'ROLE_SUBSCRIBER'"
                        class="label label-primary">
                        Subscriber
                    </span>
                </div>
            </div>

            <div ng-if="userProfileViewModel.userDetails.type == 'ROLE_SUBSCRIBER'"
                class="panel panel-info">
                <div class="panel-heading">
                    Details of subscribe
                </div>

                <div class="panel-body">
                    <span ng-if="!userProfileViewModel.userDetails.category">
                        Subscribed for all categories
                        <br/>
                        <a ui-sref="category-list" class="btn btn-info">
                            Show all categories
                        </a>
                    </span>
                    <span ng-if="userProfileViewModel.userDetails.category">
                        Subscribed only for category
                        <span class="label label-info">
                            {{userProfileViewModel.userDetails.category.id}}) {{userProfileViewModel.userDetails.category.name}}
                        </span>
                        <br/>
                        <a ui-sref="category-detail({categoryId: userProfileViewModel.userDetails.category.id})"
                            class="btn  btn-info">
                            Show the category
                        </a>
                    </span>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    Available actions
                </div>

                <div class="panel-body">
                    <div ng-if="userProfileViewModel.isOfLoggedInUser == true || userProfileViewModel.loggedInUserDetails.type == 'ROLE_ADMIN'"
                        class="btn-group btn-group-justified">
                        <a class="btn btn-warning"
                            ui-sref="user-edit-info({userId: userProfileViewModel.userId})">
                            Edit the profile
                        </a>
                        <a class="btn btn-warning"
                           ui-sref="user-edit-password({userId: userProfileViewModel.userId})">
                            Edit/Change password
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
