<row class="row col-sm-offset-4 col-sm-4">
    <div class="page-header">
        <h1>Edit/Change password</h1>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            User's basic info
        </div>

        <div class="panel-body">
            <strong>Username:</strong> {{userEditPasswordViewModel.userDetails.username}}
            <br/>
            <strong>Name:</strong> {{userEditPasswordViewModel.userDetails.firstName}}
            <br/>
            <strong>Surname: </strong> {{userEditPasswordViewModel.userDetails.lastName}}
        </div>
    </div>

    <form name="userEditPasswordForm" ng-submit="userEditPasswordViewModel.editPassword(userEditPasswordForm.$valid)"
        novalidate>
        <div class="form-group"
            ng-class="{'has-error': userEditPasswordForm.oldPassword.$invalid && !userEditPasswordForm.oldPassword.$pristine}">
            <label for="oldPassword">Old/Current password</label>
            <input name="oldPassword" id="oldPassword" ng-model="userEditPasswordViewModel.oldPassword"
                type="password" class="form-control" required/>
            <p ng-show="userEditPasswordForm.oldPassword.$invalid && !userEditPasswordForm.oldPassword.$pristine"
                class="help-block">
                Old/Current password is required!
            </p>
        </div>

        <div class="form-group"
            ng-class="{'has-error': userEditPasswordForm.newPassword.$invalid && !userEditPasswordForm.newPassword.$pristine}">
            <label for="newPassword">New password</label>
            <input name="newPassword" id="newPassword" ng-model="userEditPasswordViewModel.newPassword"
                type="password" class="form-control" required/>
            <p ng-show="userEditPasswordForm.newPassword.$invalid && !userEditPasswordForm.newPassword.$pristine"
                class="help-block">
                New password is required!
            </p>
        </div>

        <div class="form-group"
            ng-class="{'has-error': (userEditPasswordForm.reTypedPassword.$invalid && !userEditPasswordForm.reTypedPassword.$pristine) ||
                (userEditPasswordViewModel.newPassword != userEditPasswordViewModel.reTypedPassword && !userEditPasswordForm.newPassword.$pristine && !userEditPasswordForm.reTypedPassword.$pristine)}">
            <label>Re-typed password</label>
            <input name="reTypedPassword" id="reTypedPassword" ng-model="userEditPasswordViewModel.reTypedPassword"
                type="password" class="form-control" required/>
            <p ng-show="(userEditPasswordForm.reTypedPassword.$invalid && !userEditPasswordForm.reTypedPassword.$pristine) ||
                (userEditPasswordViewModel.newPassword != userEditPasswordViewModel.reTypedPassword && !userEditPasswordForm.newPassword.$pristine && !userEditPasswordForm.reTypedPassword.$pristine)"
                class="help-block">
                Re-typed new password is required and must be same as password in the upper field!
            </p>
        </div>

        <div ng-show="userEditPasswordViewModel.unsuccessfulEdit" class="alert alert-danger">
            Password is unsuccessfully edited! Check content of input fields.
        </div>

        <button type="submit" class="btn btn-success btn-block"
            ng-disabled="!(userEditPasswordForm.$valid && (userEditPasswordViewModel.newPassword == userEditPasswordViewModel.reTypedPassword))">
            <span class="glyphicon glyphicon-ok"></span> Edit
        </button>
    </form>
</row>
